section.error__main
  .container
    .row
      .error__text
        h1 404 error
        h4 Chúng tôi không tìm thấy kết quả nào phù hợp với tìm kiếm của bạn !
        h4 Xin vui lòng trở về trang chủ
        .item__button
          a(href="#").-right TRANG CHỦ
      .error_img
        img(src="./img/error.jpg").img