include comons/header_mixin.pug
include home_page/homepage_mixin.pug
include comons/list_left_mixin.pug
include product/product_mixin.pug
include comons/footer_mixin.pug
include comons/breadcrumb.pug
include comons/list_grid_mixin.pug
include blog/blog.pug
include comons/input_group.pug
include cart/cart.pug