footer .main__foot, .lastest, .hot, .news, .slider, .product__same .same__item, .product__same, .product__tag {
  padding: 2rem 0;
}

.product__detail .product__detail__info .info__count, .product__detail .product__detail__info .info__dropdown, .product__detail .product__detail__img .product__detail__bonus {
  padding: 1rem 0;
}

.about__me {
  padding-top: 4rem;
}

.about__me .about__item.-large ul, .brand {
  padding-top: 2rem;
}

footer .main__foot .pay__item .foot__bank {
  padding-top: 1rem;
}

.left__item ul, .about__me .about__item h3, .highlights .highltghts__title {
  padding-bottom: 2rem;
}

.product__tag .tag__text p {
  padding-bottom: 1rem;
}

.letter .letter__input input, .banner__second .banner__text, .product__tag .tag__item a, .product__item .item__info, .menu__logo .menu__search input, header .menu__user ul li, header .menu__icon ul li {
  padding: 1rem;
}

footer .bonus__foot, .letter .letter__text, .letter, .product__last .text__last {
  padding: 2rem;
}

footer .main__foot .pay__item .foot__answer .answer__item .answer__icon, .banner__first .banner__item .banner__sale .banner__sale__circle, .banner__first .banner__item .banner__sale, .menu__basket .basket__count {
  border-radius: 50%;
}

.letter .letter__button a, .letter .letter__input input, .menu__logo .menu__search input {
  border-radius: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  -moz-text-align-last: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}
.container .row {
  position: relative;
  min-height: 1px;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-self: center;
}

.img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.breadcrumb {
  padding: 30px 10px;
}
.breadcrumb span {
  color: #cdcdcd;
  padding: 0 10px;
}
.breadcrumb span:hover {
  color: #f5bd10;
}
.breadcrumb > span:last-child {
  color: #363636;
}

a {
  text-decoration: none;
}

header {
  background-color: #f7f7f7;
  border-bottom: solid 1px #e1e1e1;
  height: 50px;
  overflow: hidden;
}
header .menu__icon {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 25%;
  max-width: 25%;
}
header .menu__icon ul {
  list-style: none;
  display: flex;
}
header .menu__icon ul li {
  display: inline-block;
  max-width: 50px;
  border-right: 1px solid #e1e1e1;
}
header .menu__icon ul li.-left {
  border-left: 1px solid #e1e1e1;
}
header .menu__icon ul li a {
  display: block;
  margin-left: 4px;
  width: 50px;
  color: #363636;
  text-decoration: none;
}
header .menu__icon ul li a i {
  font-size: 14px;
}
header .menu__icon ul li:hover {
  background-color: #f5bd10;
  border: 0px;
}
header .menu__icon ul li:hover a {
  color: white;
}
header .menu__user {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: 40%;
  flex: 0 0 35%;
  max-width: 35%;
}
header .menu__user ul {
  display: flex;
  list-style: none;
}
header .menu__user ul li {
  flex: 0 0 50%;
  max-width: 50%;
  border-right: solid 1px #e1e1e1;
  text-align: center;
}
header .menu__user ul li.-left {
  border-left: solid 1px #e1e1e1;
}
header .menu__user ul li a {
  text-decoration: none;
  color: #363636;
  font-size: 12px;
  font-weight: 600;
}
header .menu__user ul li:hover {
  background-color: #f5bd10;
  border: 0px;
}
header .menu__user ul li:hover a {
  color: white;
}
@media (max-width: 767px) {
  header .container {
    max-width: 100%;
    padding: 0;
  }
  header .menu__icon {
    display: none;
  }
  header .menu__user {
    margin: 0;
    border: 0px;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .menu__logo {
    padding-bottom: 1rem;
  }
}
.menu__logo .menu__img {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 24%;
  max-width: 24%;
}
.menu__logo .menu__hotline {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 23%;
  max-width: 23%;
  align-self: center;
}
.menu__logo .menu__hotline h3 {
  font-size: 13px;
  color: #f5bd10;
  font-weight: 600;
}
.menu__logo .menu__hotline p {
  font-size: 13px;
  color: #cdcdcd;
}
.menu__logo .menu__book {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 23%;
  max-width: 23%;
  align-self: center;
}
.menu__logo .menu__book h3 {
  font-size: 13px;
  color: #f5bd10;
  font-weight: 600;
}
.menu__logo .menu__book p {
  font-size: 13px;
  color: #cdcdcd;
}
.menu__logo .menu__search {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 30%;
  max-width: 30%;
  margin: auto 0;
}
.menu__logo .menu__search input {
  width: 94%;
  height: 50px;
  border: solid 1px #cdcdcd;
  overflow: hidden;
}
.menu__logo .menu__search a {
  position: absolute;
  right: 15%;
  top: 30%;
  color: #cdcdcd;
}
.menu__logo .menu__search a i {
  font-size: 16px;
}
@media (max-width: 767px) {
  .menu__logo .menu__book {
    display: none;
  }
  .menu__logo .menu__hotline {
    display: none;
  }
  .menu__logo .menu__img {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .menu__logo .menu__search {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.main__menu {
  background-color: #202020;
}
.main__menu .menu__list {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.main__menu .menu__list .menu__ul ul {
  list-style: none;
}
.main__menu .menu__list .menu__ul ul li {
  display: inline-block;
  padding: 1.3rem;
}
.main__menu .menu__list .menu__ul ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.main__menu .menu__list .menu__ul ul li:hover {
  background-color: #f5bd10;
}
.main__menu .menu__hide {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.main__menu .menu__hide .nav__menu .span__menu {
  padding: 1.3rem;
}
.main__menu .menu__hide .nav__menu .span__menu span {
  display: block;
  height: 3px;
  width: 16px;
  background: white;
  margin: 3px 0;
}
.main__menu .menu__hide .nav__menu:hover .menu__ul {
  display: block;
  max-width: 400%;
}
.main__menu .menu__hide .nav__menu .menu__ul {
  display: none;
}
.main__menu .menu__hide .nav__menu .menu__ul ul {
  list-style: none;
}
.main__menu .menu__hide .nav__menu .menu__ul ul li {
  padding: 1.3rem;
}
.main__menu .menu__hide .nav__menu .menu__ul ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.main__menu .menu__hide .nav__menu .menu__ul ul li:hover {
  background-color: #f5bd10;
}
@media (min-width: 992px) {
  .main__menu .menu__list {
    display: flex;
  }
  .main__menu .menu__hide {
    display: none;
  }
}
@media (max-width: 991px) {
  .main__menu .menu__list {
    display: none;
  }
  .main__menu .menu__hide {
    display: flex;
  }
}

.menu__basket {
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
  right: 0px;
  top: 10px;
}
.menu__basket .basket__icon {
  padding: 0.8rem;
}
.menu__basket .basket__icon a i {
  color: white;
}
.menu__basket .basket__count {
  background-color: #f5bd10;
  width: 20px;
  height: 20px;
  margin-right: 10%;
  margin-left: -20%;
}
.menu__basket .basket__count p {
  text-align: center;
  color: white;
}

.title__text {
  margin: auto 0;
}
@media (min-width: 768px) {
  .title__text {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 20px;
  }
}
.title__text h3 {
  color: #363636;
  font-size: 18px;
}
.title__text h3 i {
  color: #f5bd10;
  display: inline-block;
  margin-right: 10px;
}

.title_list {
  flex: 0 0 60%;
  max-width: 60%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: auto;
  text-align: center;
}
@media (max-width: 767px) {
  .title_list {
    display: none;
  }
}
.title_list a {
  flex: 0 0 20%;
  max-width: 20%;
  text-decoration: none;
  font-size: 13px;
  display: block;
  max-width: 82px;
  height: 32px;
  padding: 8px;
  margin: 0 5px;
  color: #898989;
  border: solid 1px #898989;
}
.title_list a:hover {
  border: none;
  background-color: #f5bd10;
  color: white;
}

.title__togle {
  font-size: 24px;
  margin-left: auto;
  flex: 0 0 22%;
  max-width: 22%;
}
@media (min-width: 768px) {
  .title__togle {
    flex: 0 0 10%;
    max-width: 10%;
  }
}
.title__togle .togle {
  width: 30px;
  height: 30px;
  text-align: center;
  float: right;
  border: solid 1px #cdcdcd;
}
.title__togle .togle:hover {
  background-color: black;
  color: white;
}

.product__last {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .product__last:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .product__last.-hide {
    display: none;
  }
  .product__last:last-child {
    display: block;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product__last:last-child .img__last {
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto 0;
    text-align: center;
  }
  .product__last:last-child .text__last {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.product__last .img__last {
  flex: 0 0 50%;
  max-width: 50%;
}
.product__last .text__last {
  flex: 0 0 50%;
  max-width: 50%;
}
.product__last .text__last .item__button {
  display: flex;
  justify-content: center;
}
.product__last .text__last .item__button a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: 5px;
  padding: 13px;
  text-align: center;
}
.product__last .text__last .item__button a.-left {
  background-color: #f5bd10;
}
.product__last .text__last .item__button a.-right {
  background-color: #252525;
}
.product__last .text__last h4 {
  padding: 5px;
}
.product__last .text__last h4.-price {
  color: red;
}
.product__last .text__last p {
  padding: 5px;
  font-size: 12px;
  color: #898989;
}
.product__last .text__last p i {
  color: #f5bd10;
}
.product__last .text__last p i.-white {
  border-color: #f5bd10;
  color: white;
}

.product__item {
  transition: 1s;
  flex: 0 0 33%;
  max-width: 33%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media (max-width: 767px) {
  .product__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product__item.-hide {
    display: none;
  }
  .product__item.-only {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.product__item .item__img {
  margin: auto 0px;
  text-align: center;
}
.product__item .item__info {
  text-align: center;
  font-size: 14px;
}
.product__item h4 {
  padding: 5px;
}
.product__item h4.-price {
  color: red;
}
.product__item p {
  padding: 5px;
  font-size: 12px;
  color: #898989;
}
.product__item p i {
  color: #f5bd10;
}
.product__item p i.-white {
  border-color: #f5bd10;
  color: white;
}
.product__item:hover .item__button {
  visibility: visible;
  opacity: 1;
}
.product__item .item__button {
  display: flex;
  justify-content: center;
}
.product__item .item__button a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: 5px;
  padding: 13px;
  text-align: center;
}
.product__item .item__button a.-left {
  background-color: #f5bd10;
}
.product__item .item__button a.-right {
  background-color: #252525;
}
.product__item .item__button {
  transition: 1s;
  visibility: hidden;
  opacity: 0;
}

.product__detail {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.product__detail .product__detail__img {
  flex: 0 0 50%;
  max-width: 50%;
}
.product__detail .product__detail__img img {
  flex: 0 0 100%;
  max-width: 100%;
}
.product__detail .product__detail__img .product__detail__bonus {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
}
.product__detail .product__detail__img .product__detail__bonus img {
  flex: 0 0 20%;
  max-width: 20%;
}
.product__detail .product__detail__info {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 0px;
  width: 100%;
}
.product__detail .product__detail__info h3 {
  font-size: 24px;
}
.product__detail .product__detail__info .star {
  padding: 5px;
  font-size: 12px;
  color: #898989;
}
.product__detail .product__detail__info .star i {
  color: #f5bd10;
}
.product__detail .product__detail__info .star i.-white {
  border-color: #f5bd10;
  color: white;
}
.product__detail .product__detail__info .star span {
  margin: 0 8px;
  display: inline-block;
  height: 13px;
  background-color: gray;
  width: 1px;
}
.product__detail .product__detail__info .star a {
  color: black;
}
.product__detail .product__detail__info h4 {
  padding: 10px 0;
  color: red;
  font-size: 20px;
  border-bottom: solid 1px #eeeeee;
}
.product__detail .product__detail__info h5 {
  padding: 5px 0;
  font-size: 14px;
}
.product__detail .product__detail__info p {
  font-size: 12px;
  color: #898989;
  padding-bottom: 10px;
  border-bottom: solid 1px #eeeeee;
}
.product__detail .product__detail__info .info__dropdown {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px #eeeeee;
}
.product__detail .product__detail__info .info__dropdown .dropdown__item {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
}
.product__detail .product__detail__info .info__dropdown .dropdown__item input {
  width: 85%;
  padding: 5px;
}
.product__detail .product__detail__info .info__dropdown .dropdown__item i {
  position: absolute;
  color: #898989;
  right: 20%;
  bottom: 8px;
}
.product__detail .product__detail__info .info__count {
  display: flex;
  flex-wrap: wrap;
}
.product__detail .product__detail__info .info__count .count__input {
  position: relative;
  display: inline-flex;
}
.product__detail .product__detail__info .info__count .count__input input {
  text-align: center;
  padding: 10px;
  width: 110px;
  font-size: 14px;
}
.product__detail .product__detail__info .info__count .count__input .info__count__carret {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #898989;
  right: 5px;
  top: 3px;
}
.product__detail .product__detail__info .info__count .count__buy {
  margin-left: 10px;
}
.product__detail .product__detail__info .info__count .count__buy a {
  text-decoration: none;
  display: inline-block;
  width: 110px;
  padding: 10px;
  background-color: #f5bd10;
  color: white;
  text-align: center;
}
.product__detail .product__detail__info .info__social a i {
  font-size: 12px;
}
@media (max-width: 767px) {
  .product__detail .product__detail__img {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .product__detail .product__detail__info {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 1rem;
  }
}

.product__tag {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.product__tag .tag__item {
  display: flex;
}
.product__tag .tag__item a {
  font-size: 14px;
  border: solid 1px #898989;
  color: #363636;
}
.product__tag .tag__item a:first-child {
  background-color: black;
  color: #f5bd10;
}
.product__tag .tag__item a:first-child:hover {
  border: solid 1px #898989;
  color: #363636;
  background-color: white;
}
.product__tag .tag__item a:hover {
  background-color: black;
  color: #f5bd10;
}
.product__tag .tag__text {
  padding: 30px 15px;
  color: #898989;
  font-size: 13px;
  margin: 14px 0;
  border: solid 1px #898989;
}
.product__same {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.product__same .same__title {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.product__same .same__title .title__text {
  flex: 0 0 45%;
  max-width: 45%;
}
.product__same .same__title .title__togle {
  flex: 0 0 35%;
  max-width: 35%;
}
@media (min-width: 768px) {
  .product__same .same__title .title__togle {
    flex: 0 0 15%;
    max-width: 15%;
  }
}
.product__same .same__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.slider .slider__item {
  background-color: whitesmoke;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 65%;
  max-width: 65%;
}
.slider .slider__item .slider__content {
  position: relative;
  overflow: hidden;
}
.slider .slider__item .slider__content .slider__button {
  position: absolute;
  bottom: 5px;
  left: 50%;
  translate: -50%, 0;
}
.slider .slider__item .slider__content .slider__button span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #a1a1a1;
  margin: 0 5px;
}
.slider .slider__item .slider__content .slider__button span.-center {
  background-color: #202020;
}
.slider .slider__item .slider__content .slider__button span:hover {
  background-color: #202020;
}
.slider .slider__item .slider__content .slide__show {
  position: relative;
  touch-action: manipulation;
}
.slider .slider__item .slider__content .slide__show:hover {
  animation-play-state: paused;
}
@media (min-width: 992px) {
  .slider .slider__item .slider__content .slide__show {
    width: 2340px;
    animation: slide 10s ease infinite;
  }
  .slider .slider__item .slider__content .slide__show .slide__img {
    width: 750px;
    float: left;
    touch-action: pan-y;
  }
  @-webkit-keyframes slide {
    0% {
      left: 0px;
    }
    50% {
      left: -750px;
    }
    100% {
      left: -1500px;
    }
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .slider .slider__item .slider__content .slide__show {
    width: 1714.02px;
    animation: slide 10s ease infinite;
  }
  .slider .slider__item .slider__content .slide__show .slide__img {
    width: 541.34px;
    float: left;
    touch-action: pan-y;
  }
  @-webkit-keyframes slide {
    0% {
      left: 0px;
    }
    50% {
      left: -571.34px;
    }
    100% {
      left: -1142.68px;
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .slider .slider__item .slider__content .slide__show {
    width: 2130px;
    animation: slide 10s ease infinite;
  }
  .slider .slider__item .slider__content .slide__show .slide__img {
    width: 680px;
    float: left;
    touch-action: pan-y;
  }
  @-webkit-keyframes slide {
    0% {
      left: 0px;
    }
    50% {
      left: -710px;
    }
    100% {
      left: -1420px;
    }
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .slider .slider__item .slider__content .slide__show {
    width: 1620px;
    animation: slide 10s ease infinite;
  }
  .slider .slider__item .slider__content .slide__show .slide__img {
    width: 510px;
    float: left;
    touch-action: pan-y;
  }
  @-webkit-keyframes slide {
    0% {
      left: 0px;
    }
    50% {
      left: -540px;
    }
    100% {
      left: -1080px;
    }
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .slider .slider__item .slider__content .slide__show {
    width: 960px;
    animation: slide 10s ease infinite;
  }
  .slider .slider__item .slider__content .slide__show .slide__img {
    width: 320px;
    float: left;
    touch-action: pan-y;
  }
  @-webkit-keyframes slide {
    0% {
      left: 0px;
    }
    50% {
      left: -320px;
    }
    100% {
      left: -640px;
    }
  }
}
.slider .slider__text {
  position: relative;
  padding-left: 0px;
  padding-right: -15px;
  width: 100%;
  flex: 0 0 35%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
}
.slider .slider__text .slider__content {
  padding: 10px;
  flex: 0 0 25%;
  max-width: 25%;
  max-height: 25%;
  max-width: 100%;
  display: flex;
}
.slider .slider__text .slider__content i {
  flex: 0 0 15%;
  max-width: 15%;
  color: #f5bd10;
  font-size: 30px;
}
.slider .slider__text .slider__content .text__info {
  flex: 0 0 85%;
  max-width: 85%;
}
.slider .slider__text .slider__content .text__info h3 {
  font-size: 16px;
}
.slider .slider__text .slider__content .text__info p {
  font-size: 13px;
  color: #898989;
}
.slider .slider__text .slider__content:hover {
  background-color: #f5bd10;
}
.slider .slider__text .slider__content:hover i {
  color: white;
}
.slider .slider__text .slider__content:hover h3 {
  color: white;
}
.slider .slider__text .slider__content:hover p {
  color: white;
}
@media (max-width: 767px) {
  .slider .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .slider .slider__text {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.highlights .highltghts__title {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
}
.highlights .highlights__product {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.news .new__title {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
}
.news .new__product {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .news .new__product {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.banner__first .banner__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border-left: solid 15px white;
  border-right: solid 15px white;
}
.banner__first .banner__item .banner__text {
  z-index: 1;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px 0px 20px 10px;
}
.banner__first .banner__item .banner__text h3 {
  font-size: 48px;
}
.banner__first .banner__item .banner__text h4 {
  font-size: 14px;
  color: #898989;
}
.banner__first .banner__item .banner__text a {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  background-color: #f5bd10;
  color: black;
  padding: 10px 6%;
  font-weight: 600;
  margin: 10px 0;
}
.banner__first .banner__item .banner__text p {
  display: inline-block;
  padding: 10px 0px;
  font-weight: 600;
}
.banner__first .banner__item .banner__text p span {
  color: red;
}
.banner__first .banner__item .banner__img {
  background-color: whitesmoke;
  z-index: 0;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  margin: auto 0;
}
.banner__first .banner__item .banner__sale {
  position: absolute;
  width: 85px;
  height: 85px;
  background-color: #f5bd10;
  right: 5%;
  top: 5%;
}
.banner__first .banner__item .banner__sale .banner__sale__circle {
  width: 75px;
  height: 75px;
  background-color: #f5bd10;
  border: solid 1px white;
  margin: 5px;
  position: relative;
}
.banner__first .banner__item .banner__sale .banner__sale__circle .banner__sale__circle__text {
  position: absolute;
  left: 22px;
  top: 20px;
}
.banner__first .banner__item .banner__sale .banner__sale__circle .banner__sale__circle__text h3 {
  color: white;
  font-size: 14px;
}
@media (max-width: 767px) {
  .banner__first .banner__item {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 15px auto;
  }
}
@media (max-width: 435px) {
  .banner__first .banner__item .banner__text h3 {
    font-size: 32px;
  }
  .banner__first .banner__item .banner__text h4 {
    font-size: 6px;
  }
  .banner__first .banner__item .banner__text a {
    font-size: 10px;
  }
  .banner__first .banner__item .banner__text p {
    font-size: 6px;
    padding: 0;
  }
  .banner__first .banner__item .banner__sale {
    width: 45px;
    height: 45px;
    top: 22%;
    right: 8%;
  }
  .banner__first .banner__item .banner__sale .banner__sale__circle {
    width: 35px;
    height: 35px;
  }
  .banner__first .banner__item .banner__sale .banner__sale__circle .banner__sale__circle__text {
    left: 8px;
    top: 8px;
  }
  .banner__first .banner__item .banner__sale .banner__sale__circle .banner__sale__circle__text h3 {
    font-size: 8px;
  }
}

.hot .hot__title {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  padding-bottom: 40px;
}
.hot .hot__small {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
}
.hot .hot__small .product__item {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .hot .hot__small {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.hot .hot__large {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.hot .hot__large .product__item {
  flex: 0 0 100%;
  max-width: 100%;
}

.banner__second .container {
  background-color: #eeeeee;
}
.banner__second .banner__img {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
.banner__second .banner__text {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: center;
}
.banner__second .banner__text h3 {
  font-size: 36px;
  padding-bottom: 10px;
}
.banner__second .banner__text p {
  font-size: 16px;
}
.banner__second .banner__text .item__button {
  display: flex;
  justify-content: center;
}
.banner__second .banner__text .item__button a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin: 5px;
  padding: 13px;
  text-align: center;
}
.banner__second .banner__text .item__button a.-left {
  background-color: #f5bd10;
}
.banner__second .banner__text .item__button a.-right {
  background-color: #252525;
}
.banner__second .banner__text .item__button a.-right {
  background-color: #eeeeee;
  color: black;
  border-bottom: solid 0.5px black;
}
@media (max-width: 767px) {
  .banner__second .banner__img {
    flex: 0 0 100%;
    max-width: 100%;
    border-left: solid 15px white;
    border-right: solid 15px white;
  }
  .banner__second .banner__text {
    display: none;
  }
}

.lastest .title__last {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.brand {
  background-color: #f7f7f7;
}
.brand .brand__img {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}
@media (max-width: 500px) {
  .brand .brand__img.-hide {
    display: none;
  }
  .brand .brand__img.-only {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .brand .arrow.left {
    left: 15px;
  }
  .brand .arrow.right {
    right: 15px;
  }
}
.brand .arrow {
  position: absolute;
}
.brand .arrow.left {
  top: 35%;
}
.brand .arrow.right {
  top: 35%;
  right: 0px;
}
.brand .arrow a {
  font-size: 30px;
  color: #c8c8c8;
}

.letter {
  background-image: url(./img/feedback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.letter .letter__text {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
}
.letter .letter__text p {
  font-size: 24px;
  color: white;
}
.letter .letter__input {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  flex: 0 0 54%;
  max-width: 54%;
  margin-left: 16%;
  margin-right: 10px;
}
.letter .letter__input input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #b2b2b2;
}
.letter .letter__button {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  flex: 0 0 16%;
  max-width: 16%;
  margin: auto 0;
}
.letter .letter__button a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 20px;
  color: white;
  background-color: #f5bd10;
  font-size: 14px;
  margin: auto 0;
  height: 50px;
}
@media (max-width: 767px) {
  .letter .letter__input {
    margin-left: 0%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .letter .letter__input input {
    text-align: center;
  }
  .letter .letter__button {
    flex: 0 0 100%;
    max-width: 100%;
    -top: 10px;
  }
}

.about__me {
  background-color: #f7f7f7;
}
.about__me .container {
  border-bottom: solid 1px #cdcdcd;
}
.about__me .about__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 17.5%;
  max-width: 17.5%;
}
.about__me .about__item.-large {
  flex: 0 0 30%;
  max-width: 30%;
}
.about__me .about__item.-large p {
  padding-top: 2px;
}
.about__me .about__item.-large ul {
  list-style: none;
}
.about__me .about__item.-large ul li {
  display: flex;
  padding: 15px 100px 15px 0px;
}
.about__me .about__item.-large ul li i {
  font-size: 18px;
  color: black;
  margin-right: 10px;
}
.about__me .about__item h3 {
  font-size: 14px;
}
.about__me .about__item h3 i {
  color: #f5bd10;
  margin-right: 10px;
}
.about__me .about__item p {
  font-size: 13px;
  color: #616161;
}
.about__me .about__item ul {
  list-style: none;
}
.about__me .about__item ul li {
  display: flex;
  padding-bottom: 21px;
}
.about__me .about__item ul li i {
  font-size: 18px;
  color: black;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .about__me .about__item {
    padding-bottom: 1rem;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about__me .about__item.-large {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about__me .about__item h3 {
    font-size: 10px;
  }
  .about__me .about__item p {
    font-size: 9px;
  }
  .about__me .about__item p i {
    font-size: 9px;
  }
}

footer .main__foot {
  background-color: #f7f7f7;
}
footer .main__foot .pay__item {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
footer .main__foot .pay__item .foot__bank {
  display: flex;
  flex-wrap: wrap;
}
footer .main__foot .pay__item .foot__bank .bank__img {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  width: 100%;
}
footer .main__foot .pay__item .foot__answer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
}
footer .main__foot .pay__item .foot__answer .answer__item {
  position: relative;
  padding-left: 0;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
footer .main__foot .pay__item .foot__answer .answer__item .answer__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #f5bd10;
  border: solid 1px #f5bd10;
  text-align: center;
}
footer .main__foot .pay__item .foot__answer .answer__item .answer__icon i {
  padding-top: 20px;
}
footer .main__foot .pay__item .foot__answer .answer__item .answer__text {
  display: inline-block;
  padding-left: 20px;
}
footer .main__foot .pay__item .foot__answer .answer__item .answer__text p {
  font-size: 13px;
}
footer .main__foot .pay__item .foot__answer .answer__item .answer__text span {
  color: red;
  font-weight: 1000;
  font-size: 18px;
}
footer .main__foot .pay__item p {
  color: #616161;
}
@media (max-width: 767px) {
  footer .main__foot .pay__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .main__foot .pay__item .foot__bank {
    padding-bottom: 2rem;
  }
  footer .main__foot .pay__item .foot__bank .bank__img {
    flex: 0 0 50%;
    max-width: 50%;
  }
  footer .main__foot .pay__item .foot__answer .answer__item {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 2rem;
  }
}
footer .bonus__foot {
  background-color: #202020;
}
footer .bonus__foot .bonus__text {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
}
footer .bonus__foot .bonus__text p {
  font-size: 13px;
  color: #616161;
  display: inline;
}
footer .bonus__foot .bonus__text p span {
  color: white;
}
footer .bonus__foot .bonus__text ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
footer .bonus__foot .bonus__text ul li {
  display: inline-block;
  padding: 0px 7.5px;
}
footer .bonus__foot .bonus__text ul li a {
  font-size: 13px;
  color: #616161;
  text-decoration: none;
}
@media (max-width: 767px) {
  footer .bonus__foot .bonus__text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
  footer .bonus__foot .bonus__text p {
    display: block;
  }
  footer .bonus__foot .bonus__text ul li {
    flex: 0 0 33%;
    max-width: 33%;
  }
}

.left__item {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.left__item ul {
  list-style: none;
}
.left__item ul li {
  border: solid 1px #e1e1e1;
  padding: 20px;
}
.left__item ul li a {
  text-decoration: none;
  color: #898989;
}
.left__item ul li a span {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}
.left__item ul li a i {
  margin-right: 5px;
}
.left__item ul li i.-hide {
  position: absolute;
  color: #f5bd10;
  display: none;
  right: 15px;
}
.left__item ul li.-active {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.left__item ul li.-active a {
  color: #f5bd10;
}
.left__item ul li:hover {
  background-color: black;
}
.left__item ul li:hover a {
  color: #f5bd10;
}
.left__item ul li:hover .list__img {
  margin: -20px;
  padding: 20px;
  background-color: white;
}
.left__item ul .list__img {
  display: flex;
  flex-wrap: wrap;
}
.left__item ul .list__img .img__link {
  flex: 0 0 40%;
  max-width: 40%;
}
.left__item ul .list__img .img__info {
  flex: 0 0 60%;
  max-width: 60%;
}
.left__item ul .list__img .img__info h3 {
  font-size: 14px;
}
.left__item ul .list__img .img__info p {
  color: red;
}
.left__item ul.-blog li {
  padding-left: 0px;
}
.left__item ul.-blog.-nboder li:first-child {
  border: none;
}
.left__item ul.-blog li {
  border: none;
  border-bottom: solid 1px #e1e1e1;
}
.left__item ul.-blog li:hover {
  background-color: white;
}
.left__item ul.-blog li:hover a {
  color: #f5bd10;
}
.left__item ul.-blog li:first-child {
  border-bottom: solid 1px #f5bd10;
  display: flex;
  flex-wrap: wrap;
}
.left__item ul.-blog li:first-child a {
  color: black;
}
.left__item ul.-blog li:first-child a i {
  color: #f5bd10;
}
.left__item ul.-blog li.-list__blog__img {
  display: inline-block;
  width: 33%;
  padding: 5px 5px 0 0;
  text-align: center;
  border: none;
}
.left__item ul.-blog li.-list__blog__img:hover {
  background-color: white;
}
.left__item ul.-blog li.-list__blog__tag {
  display: inline-block;
  border: solid 0.5px #e1e1e1;
  padding: 7px;
  margin: 5px 5px 5px 0px;
}
.left__item ul.-blog li.-list__blog__tag:hover {
  background-color: black;
}
.left__item ul.-blog li.-list__blog__tag:hover a {
  color: white;
}
.left__item ul.-blog li.-list__blog__tag a {
  font-style: italic;
}
@media (max-width: 767px) {
  .left__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .left__item ul li {
    display: none;
  }
  .left__item ul li:first-child {
    position: relative;
  }
  .left__item ul li:first-child i {
    display: inline-block;
  }
  .left__item ul.-blog li.-list__blog__img {
    width: 50%;
    display: none;
  }
  .left__item ul.-blog li.-list__blog__tag {
    padding: 4px;
    display: none;
  }
  .left__item ul:hover li {
    display: block;
  }
  .left__item ul.-blog:hover li.-list__blog__img {
    display: inline-block;
  }
  .left__item ul.-blog:hover li.-list__blog__tag {
    display: inline-block;
  }
}

.right__item {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.right__item .list__product {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .right__item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.right__item .list__footer {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -15px;
}
.right__item .list__footer span {
  padding: 10px;
  color: #898989;
  border: solid 0.5px #898989;
  margin: 4px;
}
.right__item .list__footer span:hover {
  background-color: #f5bd10;
  color: white;
}

/*# sourceMappingURL=index.css.map */
