section.slider__file
  .container
    .row
      .slider__text
        h3 MÁY KHOAN ĐA NĂNG
        h1 DEWALT
        .text__check
          span
            i.fa.fa-check 
          p Thiết kế nhỏ gọn, phù hợp, đa mục đích
        .text__check
          span
            i.fa.fa-check 
          p Mạnh mẽ, bền bỉ và hiệu suất lớn hơn
        .text__check
          span
            i.fa.fa-check 
          p Khoan cắt với độ chính xác tuyệt đối
        .item__button.-start
          a(href="#").-left ĐẶT HÀNG
      .slider__img
        img(src="./img/SLIDER.jpg").img