section.about__me
  .container
    .row
      .about__item.-large
        h3
          i.fa.fa-th-large
          |VỀ CHÚNG TÔI
        p Công ty Cổ phẩn Công nghệ DKT đã và đang khẳng định được vị trí hàng đầu trong lĩnh vực Thương mại điện tử. 
        ul 
          li
            i.fas.fa-map-marker-alt
            p Tầng 4 - Tòa nhà Hanoi Group 442 Đội Cấn Ba Đình - Hà Nội
          li
            i.fas.fa-envelope
            p support@dkt.com.vn

          li
            i.fas.fa-mobile-alt
            p (84-4) 66558868  -  (84-4) 37868904
      +about_item('CHÍNH SÁCH',about_policy)
      +about_item('DỊCH VỤ & HỖ TRỢ',about__service)
      +about_item('TIN TỨC-SỰ KIỆN',about_info)
      +about_item('KẾT NỐI',about_connect)