section.banner__second
  .container
    .row
      .banner__img
        img(src="./img/banner/b3.jpg").img
      .banner__text
        h3 ROCKET WOKARU
        p Máy cắt, khoan đa năng tích hợp điều khiển từ xa loại nhỏ thích hợp với các hộ gia đình
        .item__button
          a(href="#").-left MUA NGAY
          a(href="#").-right CHI TIẾT