section.brand
      .container
        .row
          .arrow.left
            a(href="#")
              i.fas.fa-angle-left      
          .arrow.right
            a(href="#")
              i.fas.fa-angle-right
          +brand()