section.highlights
  .container
    .row
      .highltghts__title
        +title_part('SẢN PHẨM NỔI BẬT')
        +togle()
    .row
      .highlights__product
        .left__item
          +list_theme(item_theme)
        .right__item
          .list__product
            +product_item(img_highlight)