section.letter
  .container
    .row
      .letter__text
        p Đăng kí để nhận tin tức khuyến mại hàng tuần
    .row
      .letter__input
        input(type="text" placeholder="Nhập email của bạn...")
      .letter__button
        a(href="#") ĐĂNG KÍ          