mixin blog_input_group(text1,text2)
  .form__info__item.-first
    p=text1 
      span * 
    input(type="text")
  .form__info__item
    p=text2
      span * 
    input(type="text")  

mixin blog_input_group__one(text1,text2)
  .form__info__item.-first.-one
    p=text1 
      span * 
    input(type="text")
  .form__info__item.-one
    p=text2
      span * 
    input(type="text") 