.news {
  @extend %p-col-2;
  .new__title {
    @include collum(15px, 15px);
    display: flex;
    padding-bottom: 40px;
  }
  .new__product {
    @include collum(0, 0);
    display: flex;
    @include flex(100%);
    @media (max-width: 767px) {
      & {
        @include flex(100%);

      }
    }
  }
}