include comons/header_data.pug
include home_page/homepage_data.pug
include comons/footer_data.pug
include list_grid_detail/list_grid_data.pug
include list_grid_detail/detail_data.pug
include blog/blog_data.pug
include cart/cart_data.pug