+breadcrumb(["Đăng nhập"])
section.main__user
  .container
    .row
      form(action="").login__form
        h3 THÔNG TIN ĐĂNG NHẬP
        +blog_input_group__one('Họ và tên: ','Email: ')
        .check-box__login
          input(type="checkbox")
          p Ghi nhớ đăng nhập
          a(href="#") Bạn quên mật khẩu ?
        .item__button.-start
          a(href="#").-right ĐĂNG NHẬP
      .login__text
        h3 BẠN CHƯA CÓ TÀI KHOẢN ?     
        p Đăng ký tài khoản để mua hàng nhanh hơn. Theo dõi đơn đặt hàng, vận chuyển. Cập nhật các tin tức sự kiện và các chương trình giảm giá của chúng tôi. 
        .item__button.-start
          a(href="#").-left ĐĂNG KÍ