-var about_policy=[{text:"Chính sách giao hàng"},{text:"Chính sách đổi sản phẩm"},{text:"Chính sách bảo hành"},{text:"Chính sách trả góp"},{text:"Giới thiệu hàng đổi trả"},{text:"Vận chuyển miễn phí"}]

-var about__service=[{text:"Hệ thống của hàng"},{text:"Hướng dẫn mua hàng"},{text:"Hướng dẫn thanh toán"},{text:"Tích điểm đổi thưởng"},{text:"Dịch vụ trả hàng"},{text:"Câu hỏi thường gặp"}]

-var about_info =[{text:"Tin tức mới nhất"},{text:"Tin tức khuyến mãi"},{text:"Tuyển dụng, đãi ngộ"},{text:"Download tài liệu"},{text:"Chương trình đối tác"},{text:"Nhà phát triển ứng dụng"}]

-var about_connect =[{icon:"fab fa-facebook-f",text:"Facebook"},{icon:"fab fa-twitter",text:"Twitter"},{icon:"fab fa-google-plus",text:"Google"},{icon:"fab fa-skype",text:"Skype"},{icon:"fab fa-instagram",text:"Instagram"}]

-var answer_item =[{icon:"fa fa-phone",text:"Tư vấn miễn phí (24/7)",phone:"1900 650 650"},{icon:"fas fa-comments",text:"Góp ý - phản hồi - thắc mắc",phone:"1900 650 650"}]

