
-var list_item=[{text:"DANH MỤC SẢN PHẨM",icon:"fas fa-bars"},"Máy in phun khổ lớn","Máy quét Canon3D","Máy hàn điện Alunima","Máy khoan Decameta","Máy phay đa năng CNC","Máy mài, tiện DC 12V","Máy khoan, cắt CNC","Máy quay thông minh N3","Motor R34C đa dụng","Máy in laser màu 3D"]

-var list_money=[{text:"TÌM THEO GIÁ TIỀN",icon:"fas fa-dollar-sign"},"0 - 200.000 Đ  (45)","200.000 Đ - 500.000 Đ (32)","500.000 Đ - 1000.000 Đ (27)","1000.000 Đ - 2000.000 Đ (16)","Trên 2000.000 Đ (9)"]

-var list_color=[{text:"TÌM THEO MÀU SẮC",icon:"fas fa-paint-brush"},{color:'red',text:"Màu đỏ  (45)"},{color:'yellow',text:"Màu vàng (32)"},{color:'blue',text:"Màu xanh (27)"},{color:'gray',text:"Màu xanh (27)"},{color:'black',text:"Màu đen (9)",}]

-var list_img=[{text:"Sản phẩm khuyến mại",icon:"fas fa-gift"},{img:"pro7.jpg"},{img:"new2.jpg"},{img:"new1.jpg"},{img:"pro4.jpg"},{img:"pro8.jpg"}]

-var list_info=["new2.jpg","pro2.jpg","new1.jpg","pro3.jpg","new3.jpg","pro4.jpg","pro9.jpg","pro10.jpg","pro11.jpg",]

-var p_list_info ="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat occaecat cupidatat non proident modi tempora incidunt..."

-var list_grid=["pro1.jpg","pro2.jpg","pro3.jpg","pro4.jpg","pro5.jpg","pro6.jpg","new2.jpg","new1.jpg","pro4.jpg","new3.jpg","pro3.jpg","pro5.jpg","pro9.jpg","pro8.jpg","pro7.jpg","pro9.jpg","pro8.jpg","pro7.jpg"]