+breadcrumb(["Danh mục sản phẩm"])
section.main__list
  .container
    .row
      .left__item
        +list_theme(list_item)
        +list_theme(list_money)
        +list_color(list_color)
        +list_img(list_img)
      .right__item
        .list__product
          +list_grid_header('18',2)
          +product_item(list_grid)
          +list_grid_footer()