.product__last {
  @include collum($pixel_15, $pixel_15);
  @include flex(50%);
  @extend %pt-1;
  @include shadow__item();
  .shadow__item{
    @include display_flex();
  }
  @media (min-width: 768px) {
    &:last-child {
      display: none;
    }
  }
  @media (max-width: 767px) {
    & {
      display: none;
    }
    &:last-child {
      display: block;
      text-align: center;
      @include flex(100%);
      .img__last {
        @include flex(100%);
        margin: auto 0;
        text-align: center;

      }
      .text__last {
        @include flex(100%);
      }
    }
  }
  .img__last {
    @include flex(50%);
    img{
      padding: 2px;
    }
  }
  .text__last {
    @extend %p-2;
    @include flex(50%);
    @include button();
    h4 {
      padding: 5px;
      &.-price {
        color: red;
      }
    }
    p {
      padding: 5px;
      font-size: 12px;
      color: $color_list;
      i {
        color: $color_or;
        &.-white {
          border-color: $color_or;
          color: $color_white;
        }
      }
    }
  }
}