-var slider_beside=[{icon:"fa fa-plane",title:"MIỄN PHÍ VẬN CHUYỂN",text:"Chúng tôi vận chuyển miễn phí với các đơn hàng trị giá trên 1000.000 Đ"},{icon:"fa fa-sync",title:"CHÍNH SÁCH ĐỔI TRẢ",text:"Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên."},{icon:"fa fa-gift",title:"KHUYẾN MÃI HÀNG TUẦN",text:"Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn."},{icon:"fa fa-thumbs-up",title:"CAM KẾT HÀNG CHÍNH HÃNG",text:"Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm."}]

-var item_theme=[{text:"Máy khoan, cắt CNC",icon:"fa fa-th-large"},"Máy in phun khổ lớn","Máy quét Canon 3D","Máy hàn điện Alunima","Máy khoan Decameta","Máy phay đa năng CNC","Máy mài, tiện DC 12V","Máy khoan, cắt CNC","Máy quay thông minh N3","Motor R34C đa dụng","Máy in laser màu 3D"]

-var new_theme=["Máy khoan","Máy in 3D","Máy CNC ","Máy tiện ","Máy khác"]

-var banner=[{name:"DEMIXI",img:"b2",info:"MÁY HÀN XÌ CHUYÊN NGHIỆP",price:"2.250.000 Đ",dec:"CƠ HỘI TRÚNG NGAY TIVI SAMSUNG LCD TRỊ GIÁ ",span:"2.700.000Đ",sale:"12%"},{name:"MAKITA",img:"b1",info:"MÁY KHOAN - CẮT ĐA NĂNG",price:"7.450.000 Đ",dec:"TẶNG NGAY 1 BỘ PHỤ KIỆN CAO CẤP TRỊ GIÁ ",span:"600.000Đ",sale:"30%"}]

-var img_highlight=["pro1.jpg","pro2.jpg","pro3.jpg","pro4.jpg","pro5.jpg","pro6.jpg"]

-var img_new=["new1.jpg","new2.jpg","new3.jpg"]

-var img_lastest=["new2.jpg","pro3.jpg","pro2.jpg","new1.jpg","pro5.jpg",]

-var p_home_page_info="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore commo..."
