section.pop-up
  .container
    .row
      .pop-up__text
        h3 ĐĂNG KÍ NHẬN TIN TỨC CỦA CHÚNG TÔI
        .pop-up__info
          p Bạn muốn nhanh chóng nhận các tin tức khuyến mại và ưu đãi lớn của chúng tôi hàng tuần ?
          p Hãy đăng kí ngay theo form dưới đây
        input(type="text" placeholder="Nhập email của bạn vào đây...")
        .item__button
          a(href="#").-left ĐĂNG KÍ
        .check-box
          label.check-box__custom
            input(type="checkbox")
            span.check-mark
          p Không hiện lại thông báo này
      .pop-up__close
        a(href='#') 
          i.fas.fa-times