section.main__menu
      .container
        .row
          .menu__list
            .menu__ul
              ul
                +listmenu(listmenu)

              
          .menu__hide
            .nav__menu
              .span__menu
                span
                span
                span
                .menu__ul
                  ul
                    +listmenu(listmenu)
          .menu__basket
            .basket__count
              p 0
            .basket__icon
              a(href) 
                i.fa.fa-shopping-basket