section.menu__logo
  .container
        .row
          .menu__img
            img.img(src="img/logo/logo.jpg")
          .menu__hotline
            h3 HOTLINE :
            p (04) 9500 9650- (04) 9500 8850
          .menu__book
            h3 ĐẶT HÀNG NHANH :
            p (04) 9500 9650- (04) 9500 8850
          .menu__search
            input(type="text" placeholder="Tìm kiếm...")
            a(href="#")
              i.fa.fa-search